<div class="row">
  <div class="col-12 mb-2 d-flex">
    <button (click)="addItem()"class="btn btn-primary w-50 w-lg-25 mr-auto">Add new To-Do</button>
    <div class="btn-group w-50 w-lg-25">
      <button (click)="getItemsSortedByDate()"class="btn btn-secondary w-50">Sort by date <i class="fas fa-caret-down"></i></button>
      <button (click)="getItems()"class="btn btn-secondary w-50">Sort by order <i class="fas fa-caret-down"></i></button>
    </div>
  </div>

  <!-- Start: Loop the Lists -->
  <div class="col-12 mb-3" *ngFor="let list of lists; last as isLast">
    <!-- Set the List Name -->
    <div class="headings">
      <span class="hr ml-0" [ngStyle]="{'background': list.color}"></span>
      <h2 class="title font-weight-bold" [ngStyle]="{'color': list.color}">
        {{ list.name }} <span class="lead">({{ getNumberOfItemsDoneInList(list.id) }}/{{ getNumberOfItemsInList(list.id) }})</span></h2>
      <span class="hr mr-0" [ngStyle]="{'background': list.color}"></span>
    </div>


    <div *ngIf="getNumberOfItemsInList(list.id) > 0; then thenBlock else elseBlock"></div>

      <!-- items in list -->
      <ng-template #thenBlock>
        <!-- Start: Loop the Items -->
        <div *ngFor="let item of (items)">
          <!-- Show the item if it's from the list -->
          <app-item *ngIf="item.listId == list.id" [item]="item"></app-item>

          <!-- Show the item Status Bar -->
          <app-item-status-bar *ngIf="item.listId == list.id" [item]="item" [list]="list"></app-item-status-bar>
        </div>
        <!-- End: Loop the items -->
      </ng-template>


      <!-- no items in list -->
      <ng-template #elseBlock>
        <div class="alert alert-info text-center" role="alert">
          There are currently no items in this To-Do list.
        </div>
      </ng-template>


    <hr *ngIf="!isLast">

  </div>
  <!-- End: Loop the Lists -->
</div>
