<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>


<button type="button" class="btn btn-success addBtn" (click)="add()"><i class="fas fa-plus"></i> Add new list</button>
<table class="table" *ngIf="lists && lists.length > 0">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Color</th>
    <th scope="col">Text color</th>
    <th scope="col">Preview</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let list of lists">
    <th scope="row">{{list.id}}</th>
    <td>{{list.name}}</td>
    <td>{{ list.color }}</td>
    <td>{{ list.textcolor }}</td>
    <td><span class="border rounded py-1 px-3" [ngStyle]="{'background': list.color, 'color': list.textcolor}">{{list.name}}</span></td>
    <td>
      <button type="button" class="btn btn-success" (click)="edit(list.id)"><i class="fas fa-edit"></i></button>
      <button type="button" class="btn btn-danger" (click)="delete(list.id)"><i class="far fa-trash-alt"></i></button>
    </td>
  </tr>
  </tbody>
</table>
