<div *ngIf="item" class="card text-center">
  <div class="card-header" [ngClass]="item.statusId == 1 ? 'text-danger' : 'text-success'">
    {{statusName}}
    <div *ngIf="item.statusId == 2; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock> | <i class="fas fa-check"></i></ng-template>
    <ng-template #elseBlock> | <i class="fas fa-times"></i></ng-template>
    <div class="float-right">
      <span class="text-muted">{{ item.order }}</span>
    </div>

  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">{{item.description}}</p>
  </div>
  <div *ngIf="item.date !=''"  class="card-footer text-muted">
    <!-- Done -->
    <span *ngIf="item.statusId == 2">{{dateTime | dateAndTime : true}}</span>
    <!-- Ongoing but lot's of time -->
    <span *ngIf="getDaysTillDeadline_raw() > 1 && item.statusId == 1">{{dateTime | dateAndTime : true}}<br>{{getDaysTillDeadline()}} days, {{getHoursTillDeadline()}} hours, {{getMinutesTillDeadline()}} minutes till deadline.</span>
    <!-- Ongoing but less then one day -->
    <span *ngIf="0 < getDaysTillDeadline_raw() && getDaysTillDeadline_raw() <= 1 && item.statusId == 1" class="text-warning">{{dateTime | dateAndTime : true}}<br>{{getHoursTillDeadline()}} hours, {{getMinutesTillDeadline()}} minutes till deadline.</span>
    <!-- Ongoing and to late -->
    <span *ngIf="getDaysTillDeadline_raw() < 0 && item.statusId == 1" class="text-danger">{{dateTime | dateAndTime : true}}<br>{{getDaysTillDeadline()}} days, {{getHoursTillDeadline()}} hours, {{getMinutesTillDeadline()}} minutes to late.</span>
  </div>
</div>
