<div *ngIf="item" class="card text-center">
  <div class="card-header" [ngClass]="item.statusId == 1 ? 'text-danger' : 'text-success'">
    {{statusName}}
    <div *ngIf="item.statusId == 2; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock> | <i class="fas fa-check"></i></ng-template>
    <ng-template #elseBlock> | <i class="fas fa-times"></i></ng-template>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">{{item.description}}</p>
  </div>
  <div class="card-footer text-muted">
    {{dateTime | dateAndTime : true}}
  </div>
</div>
