<div class="row">
  <div class="col-12 mb-2">
    <button (click)="addItem()"class="btn btn-primary w-100">Add new To-Do</button>
  </div>

  <!-- Loop the Lists -->
  <div class="col-12 mb-3" *ngFor="let list of (lists)">
    <!-- Set the List Name -->
    <div class="headings">
      <span class="hr ml-0" [ngStyle]="{'background': list.color}"></span>
      <h2 class="title font-weight-bold" [ngStyle]="{'color': list.color}">{{ list.name }}</h2>
      <span class="hr mr-0" [ngStyle]="{'background': list.color}"></span>
    </div>


    <!-- Start: Loop the Items -->
    <div *ngFor="let item of (items)">
      <!-- Show the item if it's from the list -->
      <app-item *ngIf="item.listId == list.id" [item]="item"></app-item>

      <!-- Show the item Status Bar -->
      <div *ngIf="item.listId == list.id" class="card text-center mb-5">
        <div class="card-header">
          <div *ngIf="item.statusId == 2; then thenBlock else elseBlock"></div>
          <!-- Status == Done -->
          <ng-template #thenBlock>
            <button (click)="setDoing(item.id)" class="btn btn-danger float-left">Set doing</button>
          </ng-template>

          <!-- Status == Doing -->
          <ng-template #elseBlock>
            <button (click)="setDone(item.id)"class="btn btn-success float-left">Set done</button>
          </ng-template>

          <!-- The rest -->
          <button (click)="editItem(item.id)"class="btn btn-primary">Edit</button>
          <button type="button" class="btn btn-danger float-right" data-toggle="modal" attr.data-target="#Modal{{ item.id }}">Remove</button>
        </div>
      </div>

      <!-- Remove Modal -->
      <div class="modal fade" id="Modal{{ item.id }}" tabindex="-1" attr.aria-labelledby="Modal{{ item.id }}Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Modal{{ item.id }}Label">Remove <span class="font-weight-bold">{{ item.title }}</span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to remove the todo <span class="font-weight-bold">{{ item.title }}</span>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button (click)="deleteItem(item.id)" class="btn btn-danger" data-dismiss="modal">Remove</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End: Loop the items -->
    <hr>

  </div>
</div>
