<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>


<button type="button" class="btn btn-primary mb-4" (click)="add()"><i class="fas fa-plus"></i> Add new list</button>
<table class="table" *ngIf="lists && lists.length > 0">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Color</th>
    <th scope="col">Preview</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let list of lists">
    <th scope="row">{{list.id}}</th>
    <td>{{list.name}}</td>
    <td>{{ list.color }}</td>
    <td class="title font-weight-bold" [ngStyle]="{'color': list.color}">{{list.name}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="edit(list.id)" title="Edit list: {{ list.name }}"><i class="fas fa-edit"></i></button>
      <button type="button" class="btn btn-danger" data-toggle="modal" attr.data-target="#Modal{{ list.id }}" title="Remove list: {{ list.name }}"><i class="far fa-trash-alt"></i></button>
    </td>
  </tr>
  </tbody>
</table>



<!-- Remove Modal -->
<div *ngIf="lists && lists.length > 0">
  <div *ngFor="let list of lists">
    <div class="modal fade" id="Modal{{ list.id }}" tabindex="-1" attr.aria-labelledby="Modal{{ list.id }}Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Modal{{ list.id }}Label">Remove <span class="font-weight-bold">{{ list.name }}</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to remove the list <span class="font-weight-bold">{{ list.name }}</span>? <br>
            This will also remove
            <span *ngIf="getNumberOfItemsInList(list.id) > 1"><span class="font-weight-bold text-danger">{{ getNumberOfItemsInList(list.id) }}</span> To-Do's</span>
            <span *ngIf="getNumberOfItemsInList(list.id) == 1"><span class="font-weight-bold text-danger">{{ getNumberOfItemsInList(list.id) }}</span> To-Do</span>
            <span *ngIf="getNumberOfItemsInList(list.id) == 0"><span class="font-weight-bold">{{ getNumberOfItemsInList(list.id) }}</span> To-Do's</span>
             currently in this list.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button (click)="delete(list.id)" class="btn btn-danger" data-dismiss="modal">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
